{% extends "adserver/staff/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Publisher Payouts' %}{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Publisher Payouts' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><strong>{% trans 'Publisher' %}</strong></th>
          <th><strong>{% trans 'Since' %}</strong></th>
          <th><strong>{% trans 'Amount' %}</strong></th>
          <th><strong>{% trans 'CTR' %}</strong></th>
          <th><strong>{% trans 'First' %}</strong></th>
          <th><strong>{% trans 'Status' %}</strong></th>
          <th><strong>{% trans 'Email' %}</strong></th>
        </tr>
      </thead>
      <tbody>
        {% for publisher, payout in payouts.items %}
          <tr>
            <td><a href="{{ payout.due_report_url }}">{{ publisher }}</a></td>
            <td>{{ payout.start_date|date }}</td>
            <td>${{ payout.total }}</td>
            <td>{{ payout.ctr }}</td>
            <td>{{ payout.first }}</td>
            {% if payout.status %}
            <td>{{ payout.status }}</td>
            {% else %}
            <td><a href="{% url "staff-start-publisher-payout" publisher %}">{% trans "Start Payout" %}</a></td>
            {% endif %}
            <td width="75%"> {{ payout.email_html|safe }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content_container %}
