{% extends "adserver/staff/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Publisher Payout' %} - {{ publisher.slug }}{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Publisher Payout' %} - {{ publisher.slug }}</li>
{% endblock breadcrumbs %}


{% block content_container %}
<h1>{% block heading %}{% trans 'Start Payout' %}{% endblock heading %}</h1>
<div class="row">
  <div class="col-md">
    {% crispy form form.helper %}
  </div>

  <div class="col-md-6 ml-md-5">
    <h5>{% trans 'Preview' %}</h5>

    <div class="border bg-light p-2" data-bind="html: displayBody()"></div>
  </div>
</div>

{% endblock content_container %}
