{% extends "adserver/staff/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Publisher Payouts' %}{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Publisher Payouts' %}</li>
{% endblock breadcrumbs %}

{% block content_container %}

  {% block filters %}
    <section class="mb-5">
      <div>
        <form method="get">
          <div class="form-row">

            <div class="col-xl-3 col-md-6 col-12 mb-3">
              <label class="col-form-label" for="id_first">{% trans 'First' %}</label>
              <select class="form-control" name="first" id="id_first">
                {% for option, name in boolean_options %}
                  <option value="{{ option }}"{% if first == option %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-xl-3 col-md-6 col-12 mb-3">
              <label class="col-form-label" for="id_paid">{% trans 'Paid' %}</label>
              <select class="form-control" name="paid" id="id_paid">
                {% for option, name in boolean_options %}
                  <option value="{{ option }}"{% if paid == option %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-xl-3 col-md-6 col-12 mb-3">
              <label class="col-form-label" for="id_publisher">{% trans 'Publisher' %}</label>
              <input type="text" id="id_publisher" class="form-control text-monospace" name="publisher" value="{{ publisher_slug|default_if_none:"" }}"><br><br>
            </div>

          </div>

          <button class="btn btn-primary" type="submit">{% trans 'Filter report' %}</button>
        </form>
      </div>
    </section>
  {% endblock filters %}


  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><strong>{% trans 'Publisher' %}</strong></th>
          <th><strong>{% trans 'Since' %}</strong></th>
          <th><strong>{% trans 'First' %}</strong></th>
          <th><strong>{% trans 'Amount' %}</strong></th>
          <th><strong>{% trans '% Change' %}</strong></th>
          <th><strong>{% trans 'CTR' %}</strong></th>
          <th><strong>{% trans 'Status' %}</strong></th>
          <th><strong>{% trans 'Action' %}</strong></th>
        </tr>
      </thead>
      <tbody>
        {% for publisher, payout_data in payouts.items %}
          <tr>
            <td><a href="{{ payout_data.due_report_url }}">{{ publisher.name }}</a></td>
            <td>{{ payout_data.start_date|date }}</td>
            <td>{{ payout_data.first }}</td>
            <td>${{ payout_data.total }}</td>
            <td>
            {% if payout_data.change %}
            {{ payout_data.change|floatformat:2 }}%
            {% else %}
            {% trans "N/A" %}
            {% endif %}
            </td>
            <td>{{ payout_data.ctr }}%</td>
            <td>
            {% if payout_data.payout %}
            {{ payout_data.payout.get_status_display }}
            {% else %}
            {% trans "Not started" %}
            {% endif %}
            </td>
            <td>
            {% if payout_data.payout and payout_data.payout.status == "paid" %}
            No action required
            {% elif payout_data.payout and payout_data.payout.status == "emailed" %}
            <a href="{% url "staff-finish-publisher-payout" publisher.slug %}">{% trans "Finish Payout" %}</a>
            {% else %}
            <a href="{% url "staff-start-publisher-payout" publisher.slug %}">{% trans "Start Payout" %}</a>
            {% endif %}
            </td>
          </tr>
        {% empty %}
          <td colspan="7">{% trans 'No pending payouts' %}</td>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content_container %}
