{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Set Password' %}{% endblock title %}


{% block content %}
<h1 class="card-title">{% if token_fail %}{% trans "Expired or Used Token" %}{% else %}{% trans "Set Password" %}{% endif %}</h1>

{% if token_fail %}
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used or it expired. To get into your account, please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
  {% if form %}
    {% if form.user %}<p>{% blocktrans with name=form.user.get_full_name %}Set password for {{ name }}{% endblocktrans %}</p>{% endif %}
    <form method="POST" action="{{ action_url }}">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="{% trans 'Set My Password' %}" class="btn btn-primary" />
    </form>
  {% else %}
    <p>{% trans 'Your password is now set.' %}</p>
  {% endif %}
{% endif %}
{% endblock content %}
