{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Password Reset' %}{% endblock title %}


{% block content %}
<h1 class="card-title">{% trans 'Password Reset' %}</h1>

{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<form method="post" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {{ form|crispy }}

  <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />

  <p class="mt-2">
    <small>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</small>
  </p>
</form>
{% endblock content %}
