# Django settings
DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=
CELERY_BROKER_URL=
ALLOWED_HOSTS=*

# Gunicorn settings
WEB_CONCURRENCY=4

# Ad server settings
#ADSERVER_HTTPS=False
#ADSERVER_ADMIN_URL=admin
#ADSERVER_DO_NOT_TRACK=True
#ADSERVER_PRIVACY_POLICY_URL=
#ADSERVER_ANALYTICS_ID=UA-XXXXXXXX-1

# Using Sqlite is fine for a local test
#DATABASE_URL=sqlite:///db.sqlite3
# PostgreSQL is better for a real production instance
DATABASE_URL=psql://username:password@127.0.0.1:5432/database

# Email settings
MAILGUN_API_KEY=

# Redis
REDIS_URL=
