[run]
branch = True
plugins =
    django_coverage_plugin
source =
    adserver
    frontbackend
    templates
omit =
    # Skip django AppConfig files
    */apps.py
    */tests.py
    */tests/*

    # Skip local virtual and tox environments
    */.tox/*
    */.venv/*

    */migrations/*.py
    templates/admin/*.html
    templates/account/*.html
    templates/includes/*.html
    adserver/templatetags/metabase.py
    adserver/regiontopics.py # Just data/constants
    adserver/importers/*.py
    adserver/management/commands/metabase.py
    adserver/management/commands/rtdimport.py
    adserver/management/commands/pypi_import.py
    adserver/management/commands/adtype-templates/*.html
    adserver/router.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if settings\.DEBUG

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
