### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__
.bash_history

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*

# Ipython
.ipython/*

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# User-uploaded media
techint/media/

# MailHog binary
mailhog

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid

# VSCode
.vscode


##########################################################################
# Ad Server specific ignores
##########################################################################

# Production settings
.envs/*
.envrc

# Compiled static files
assets/dist
static
media

# Development database
db.sqlite3

# Sphinx docs output
_build

# GeoIP data files
geoip/*

# ML models for topic classification
trainingset-urls-cache.sqlite
/machine_learning_experiments/assets/*.json
.venv/

# LocalAI models and data
.localai/
