{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Log in' %}{% endblock title %}
{% block body-classes %}registration login-page{% endblock body-classes %}

{% block content %}
<main role="main">
  <div class="container mt-4">

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="card">

          <div class="card-body">

            <h1 class="card-title">{% trans 'Ethical Ad Server Log in' %}</h1>

            {% if next %}
              {% if user.is_authenticated %}
              <p>{% trans 'Your account does not have access to this page. To proceed, please log in with an account that has access.' %}</p>
              {% else %}
              <p>{% trans 'Please log in to see this page.' %}</p>
              {% endif %}
            {% endif %}

            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p class="mt-2"><small><a href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a></small></p>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>

{% endblock content%}
