{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Request Password Reset' %}{% endblock title %}
{% block body-classes %}registration pw-reset-page{% endblock body-classes %}

{% block content %}
<main role="main">
  <div class="container mt-4">

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="card">

          <div class="card-body">

            <h1 class="card-title">{% trans 'Request Password Reset' %}</h1>

            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>
{% endblock content %}
