{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{{ title }}{% endblock title %}
{% block body-classes %}registration pw-reset-complete{% endblock body-classes %}

{% block content %}
<main role="main">
  <div class="container mt-4">

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="card">

          <div class="card-body">

            <h1 class="card-title">{{ title }}</h1>

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <a href="{% url 'login' %}" class="btn btn-primary">{% trans 'Log in' %}</a>

          </div>

        </div>
      </div>
    </div>

  </div>
</main>
{% endblock content %}
