{% extends 'base.html' %}
{% load i18n %}


{% block body_classes %}adserver-dashboard{% endblock body_classes %}


{% block body_content %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary p-4">
    <a class="navbar-brand mr-0" href="{% url 'dashboard-home' %}">
      <span class="text-brand">{% trans 'Ethical Ad Server' %}</span>
      <span class="logo-brand"></span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-item nav-link dropdown-toggle mr-md-2" id="bd-versions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.email }}</a>
          <div class="dropdown-menu" aria-labelledby="bd-versions">
            {% if request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'admin:index' %}">
                <span class="fa fa-lock fa-fw mr-2 text-muted" aria-hidden="true"></span>
                <span>{% trans 'Administration' %}</span>
              </a>
              <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="{% url 'api_token_list' %}">
              <span class="fa fa-cog fa-fw mr-2 text-muted" aria-hidden="true"></span>
              <span>{% trans 'API token' %}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_change_password' %}">
              <span class="fa fa-key fa-fw mr-2 text-muted" aria-hidden="true"></span>
              <span>{% trans 'Change password' %}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">
              <span class="fa fa-sign-out fa-fw mr-2 text-muted" aria-hidden="true"></span>
              <span>{% trans 'Sign Out' %}</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <ol class="breadcrumb border-bottom rounded-0">
    {% block breadcrumbs %}
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard-home' %}">Home</a>
      </li>
    {% endblock breadcrumbs %}
  </ol>

  <div>
    <div class="container-fluid">

      <div class="row">
        <nav class="col-lg-3">
          {% if advertiser %}
            <h6 class="text-muted">{{ advertiser }}</h6>

            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_main' advertiser.slug %}">
                  <span class="fa fa-binoculars fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Overview' %}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'flight_list' advertiser.slug %}">
                  <span class="fa fa-calendar fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Manage advertising' %}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_report' advertiser.slug %}">
                  <span class="fa fa-bar-chart fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Reports' %}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_geo_report' advertiser.slug %}">
                  <span class="fa fa-globe fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Geos' %}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_publisher_report' advertiser.slug %}">
                  <span class="fa fa-building fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Publishers' %}</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_users' advertiser.slug %}">
                  <span class="fa fa-users fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Authorized users' %}</span>
                </a>
              </li>
            </ul>
          {% elif publisher %}
            <h6 class="text-muted">{{ publisher }}</h6>

            <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_main' publisher.slug %}">
                  <span class="fa fa-binoculars fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Overview' %}</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_report' publisher.slug %}">
                  <span class="fa fa-bar-chart fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Reports' %}</span>
                </a>
              </li>

              {% if publisher.record_placements %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_placement_report' publisher.slug %}">
                  <span class="fa fa-bar-chart fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Placements' %}</span>
                </a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_geo_report' publisher.slug %}">
                  <span class="fa fa-globe fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Geos' %}</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_advertiser_report' publisher.slug %}">
                  <span class="fa fa-building fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Advertisers' %}</span>
                </a>
              </li>

              {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_keyword_report' publisher.slug %}">
                  <span class="fa fa-key fa-fw ml-4 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Keywords' %}</span>
                </a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_payouts' publisher.slug %}">
                  <span class="fa fa-dollar fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Payouts' %}</span>
                </a>
              </li>

              {% if publisher.unauthed_ad_decisions %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'publisher_embed' publisher.slug %}">
                    <span class="fa fa-code fa-fw mr-2 text-muted" aria-hidden="true"></span>
                    <span>{% trans 'Client Embed Code' %}</span>
                  </a>
                </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_settings' publisher.slug %}">
                  <span class="fa fa-cog fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Settings' %}</span>
                </a>
              </li>

            </ul>
          {% endif %}
        </nav>
        <main class="main col-lg-9 ml-sm-auto px-4">
          {% include 'includes/messages.html' %}

          {% block content_container %}{% endblock content_container %}
        </main>
      </div>
    </div>
  </div>

  <footer>
    <hr>
    <div class="d-flex">
      <ul class="list-inline mr-auto">
        <li class="list-inline-item small">
          <span class="text-muted">© {% now "Y" %} Read the Docs, Inc.</span>
        </li>
        {% if adserver_privacy_policy %}
          <li class="list-inline-item small">
            <a href="{{ adserver_privacy_policy }}" target="_blank">{% trans 'Privacy Policy' %}</a>
          </li>
        {% endif %}
        {% if adserver_publisher_policy %}
          <li class="list-inline-item small">
            <a href="{{ adserver_publisher_policy }}" target="_blank">{% trans 'Publisher Policy' %}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="list-inline justify-content-end">
        <li class="list-inline-item small ml-auto">
          <a href="https://github.com/readthedocs/ethical-ad-server" class="text-muted" target="_blank">v{{ adserver_version }}</a>
        </li>
      </ul>
    </div>
  </footer>
{% endblock body_content %}
