{% extends 'base.html' %}
{% load i18n %}


{% block body_classes %}adserver-dashboard{% endblock body_classes %}


{% block body_content %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary p-4">
    <a class="navbar-brand mr-0" href="{% url 'dashboard-home' %}">EthicalAds</a>

    <ul class="navbar-nav ml-auto d-none d-md-block">
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" id="bd-versions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.email }}</a>
        <div class="dropdown-menu" aria-labelledby="bd-versions">
          {% if request.user.is_staff %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">
              <span class="fa fa-lock fa-fw mr-2 text-muted" aria-hidden="true"></span>
              <span>{% trans 'Administration' %}</span>
            </a>
            <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item" href="{% url 'account_change_password' %}">
            <span class="fa fa-key fa-fw mr-2 text-muted" aria-hidden="true"></span>
            <span>{% trans 'Change password' %}</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account_logout' %}">
            <span class="fa fa-sign-out fa-fw mr-2 text-muted" aria-hidden="true"></span>
            <span>{% trans 'Sign Out' %}</span>
          </a>
        </div>
      </li>
    </ul>
  </nav>

  <ol class="breadcrumb border-bottom rounded-0">
    {% block breadcrumbs %}
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard-home' %}">Home</a>
      </li>
    {% endblock breadcrumbs %}
  </ol>

  <div>
    <div class="container-fluid">

      <div class="row">
        <nav class="col-lg-2">
          {% if advertiser %}
            <h6 class="text-muted">{{ advertiser }}</h6>

            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'flight_list' advertiser.slug %}">
                  <span class="fa fa-calendar fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Manage advertising' %}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advertiser_report' advertiser.slug %}">
                  <span class="fa fa-bar-chart fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Reports' %}</span>
                </a>
              </li>
            </ul>
          {% elif publisher %}
            <h6 class="text-muted">{{ publisher }}</h6>

            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'publisher_report' publisher.slug %}">
                  <span class="fa fa-bar-chart fa-fw mr-2 text-muted" aria-hidden="true"></span>
                  <span>{% trans 'Reports' %}</span>
                </a>
              </li>
            </ul>
          {% endif %}
        </nav>
        <main class="main col-lg-10 ml-sm-auto px-4">
          {% include 'includes/messages.html' %}

          {% block content_container %}{% endblock content_container %}
        </main>
      </div>
    </div>
  </div>

  <footer>
    <hr>
    <div class="d-flex">
      <div class="p-2 flex-fill">
        <p class="text-muted"><small>© {% now "Y" %} Read the Docs, Inc.</small></p>
      </div>
      <div class="p-2 flex-fill">
        {# Relies on the custom context processor #}
        <p class="text-muted text-right"><small>v{{ adserver_version }}</small></p>
      </div>
    </div>
  </footer>
{% endblock body_content %}
