{% extends 'adserver/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Dashboard' %}{% endblock title %}


{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'dashboard-home' %}">{% trans 'Home' %}</a>
</li>
<li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}

  {% if publishers %}
    <h2>{% trans 'Publishers' %}</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <span class="fa fa-eye">
              {{ total.views }}
              Views
            </span>
          </div>
          <div class="col-md-3">
            <span class="fa fa-mouse-pointer">
            {{ total.clicks }}
            Clicks
            </span>
          </div>
          <div class="col-md-3">
            <span class="fa fa-dollar">
            {{ total.revenue_share }}
            Revenue
            </span>
        </div>
      </div>
    </div>
    <br>
    <ul>
      {% if request.user.is_staff %}
        <li><a href="{% url 'all_publishers_report' %}">{% trans 'All publishers' %}</a></li>
        <li><a href="{% url 'publisher_uplift_report' %}">{% trans 'Uplift report' %}</a></li>
        <li>--</li>
      {% endif %}
      {% for publisher in publishers %}
        <li><a href="{% url 'publisher_report' publisher.slug %}">{{ publisher.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if advertisers %}
    <h2>{% trans 'Advertisers' %}</h2>
    <ul>
      {% if request.user.is_staff %}
        <li><a href="{% url 'all_advertisers_report' %}">{% trans 'All advertisers' %}</a></li>
      {% endif %}
      {% for advertiser in advertisers %}
        <li><a href="{% url 'advertiser_report' advertiser.slug %}">{{ advertiser.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if not publishers and not advertisers %}
    <p>{% trans 'You do not have access to anything.' %}</p>
  {% endif %}

{% endblock content_container %}
