<!doctype html>
<html lang="en">
<head>
  {% block start_head %}{% endblock start_head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
  {% block metas %}{% endblock metas %}

  <title>{% block fulltitle %}{% block shorttitle %}{% endblock shorttitle %} - Ethical Ad Server{% endblock fulltitle %}</title>

  {% block css %}{% endblock css %}

  {% block end_head %}{% endblock end_head %}
</head>

<body class="{% block classes_body %}{% endblock classes_body %}">

  {% block start_body %}{% endblock start_body %}

  {% block main_body %}Ethical Ad Server {{ version }}{% endblock main_body %}

  {% block end_body %}{% endblock end_body %}

  {% block js %}{% endblock js %}

</body>

</html>
