{% extends 'adserver/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Dashboard' %}{% endblock title %}


{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'dashboard-home' %}">{% trans 'Home' %}</a>
</li>
<li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}

{% if request.user.is_staff %}
<div>
  <form>
    <div class="form-group">
      <input type="search" class="form-control" id="publisher-advertiser-filter" data-bind="textInput: dashboardFilter" placeholder="Filter advertisers or publishers...">
    </div>
  </form>
</div>
{% endif %}

<div class="row">

  {% if request.user.is_staff %}
  <div class="col-sm">
    <h2>{% trans 'Staff Reports' %}</h2>
    <p>
      {% trans 'Reports only visible to staff users.' %}
    </p>
    <ul>
        <li><a href="{% url 'staff_advertisers_report' %}">{% trans 'Advertiser' %}</a> (<a href="{% url 'staff_advertisers_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'staff_publishers_report' %}">{% trans 'Publisher' %}</a> (<a href="{% url 'staff_publishers_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'staff_regiontopic_report' %}">{% trans 'Region & Topic' %}</a> (<a href="{% url 'staff_regiontopic_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'staff_keyword_report' %}">{% trans 'Keyword' %}</a> (<a href="{% url 'staff_keyword_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'staff_geo_report' %}">{% trans 'Geo' %}</a> (<a href="{% url 'staff_geo_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'staff_region_report' %}">{% trans 'Region' %}</a> (<a href="{% url 'staff_region_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
        <li><a href="{% url 'publisher_uplift_report' %}">{% trans 'Uplift' %}</a> (<a href="{% url 'publisher_uplift_report' %}?start_date={{ month_start|date:'Y-m-d' }}">{% trans 'This month' %}</a>)</li>
      </ul>
  </div>
  {% endif %}

  {% if publishers %}
  <div class="col-sm">
    <h2>{% trans 'Publishers' %}</h2>
    <p>
      {% trans 'Reports for your publisher accounts.' %}
    </p>
    <ul id="publishers-list">
      {% for publisher in publishers %}
        <li data-bind="visible: shouldShow('{{ publisher.slug }}')"><a href="{% url 'publisher_main' publisher.slug %}">{{ publisher.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if advertisers %}
  <div class="col-sm">
    <h2>{% trans 'Advertisers' %}</h2>
    <p>
      {% trans 'Reports for your advertiser accounts.' %}
    </p>
    <ul id="advertisers-list">
      {% for advertiser in advertisers %}
        <li data-bind="visible: shouldShow('{{ advertiser.slug }}')"><a href="{% url 'advertiser_main' advertiser.slug %}">{{ advertiser.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if not publishers and not advertisers %}
    <p>{% trans 'You do not have access to anything.' %}</p>
  {% endif %}

</div>
{% endblock content_container %}
