{% extends "adserver/dashboard.html" %}

{# https://github.com/pennersr/django-allauth/blob/main/allauth/templates/allauth/layouts/base.html #}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Account" %}{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'dashboard-home' %}">{% trans 'Home' %}</a>
</li>
<li class="breadcrumb-item active">{% trans 'Account' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}

<h1>{% block heading %}{% trans "Account" %}{% endblock heading %}</h1>

<div class="row">
  <div class="col col-md-8">

    {% block content %}{% endblock content %}

  </div>
</div>

{% endblock content_container %}
