{% load humanize %}
{% load i18n %}


{# Used in flight reporting and flight management #}


<dl>
  {% if flight.campaign.campaign_type == 'community' %}
    <dt>{% trans 'Community ad' %}</dt>
    <dd>{% trans 'This ad is done for the benefit of the community' %}</dd>
  {% endif %}
  {% if flight.campaign.campaign_type == 'publisher-house' %}
    <dt>{% trans 'Publisher house ad' %}</dt>
    <dd>{% trans 'House ads controlled by the publisher' %}</dd>
  {% endif %}
  {% if flight.campaign.campaign_type == 'house' %}
    <dt>{% trans 'House ad' %}</dt>
    <dd>{% trans 'This is a house advertisement' %}</dd>
  {% endif %}
  {% if flight.campaign.campaign_type == 'paid' and flight.projected_total_value %}
    <dt>{% trans 'Value remaining' %}</dt>
    <dd>${{ flight.value_remaining|floatformat:2 }} / ${{ flight.projected_total_value|floatformat:2 }}</dd>
  {% endif %}
  {% if flight.sold_clicks %}
    <dt>{% trans 'Clicks remaining' %}</dt>
    <dd>{{ flight.clicks_remaining|intcomma }} / {{ flight.sold_clicks|intcomma }}</dd>
  {% endif %}
  {% if flight.sold_impressions %}
    <dt>{% trans 'Impressions remaining' %}</dt>
    <dd>{{ flight.views_remaining|intcomma }} / {{ flight.sold_impressions|intcomma }}</dd>
  {% endif %}
  {% if flight.cpc %}
    <dt>{% trans 'Cost per click (CPC)' %}</dt>
    <dd>${{ flight.cpc|floatformat:2 }}</dd>
  {% endif %}
  {% if flight.cpm %}
    <dt>{% trans 'Cost per 1,000 impressions (CPM)' %}</dt>
    <dd>${{ flight.cpm|floatformat:2 }}</dd>
  {% endif %}
  {% if flight.discount %}
    <dt title="{% trans 'The price above includes this discount.' %}" data-toggle="tooltip" data-placement="left">{% trans 'Discount' %}</dt>
    <dd>{{ flight.discount }}</dd>
  {% endif %}
  {% if flight.start_date %}
    <dt>{% trans 'Estimated start date' %}</dt>
    <dd>{{ flight.start_date }}</dd>
  {% endif %}
  {% if flight.end_date %}
    <dt title="{% trans 'Note: your campaign may run beyond this date due to availability.' %}" data-toggle="tooltip" data-placement="left">{% trans 'Estimated end date' %}</dt>
    <dd>
      <span>{{ flight.end_date }}</span>
      {% if flight.hard_stop %}<span title="{% trans 'The flight will be stopped on this date even if not completely fulfilled. The balance will be credited.' %}" data-toggle="tooltip" data-placement="left"> ({% trans 'Hard stop' %})</span>{% endif %}
    </dd>
  {% endif %}

  <dt title="{% trans 'Determines which ad is chosen when a flight has multiple ads.' %}" data-toggle="tooltip" data-placement="left">{% trans 'Ad selection' %} <span class="fa fa-info-circle fa-fw mr-2 text-muted" aria-hidden="true"></span></dt>
  <dd>
    {% if flight.prioritize_ads_ctr %}
      <span>{% trans 'Ads with higher CTR are prioritized' %}</span>
    {% else %}
      <span>{% trans 'Ads are chosen round-robin, so each will be displayed about the same number of times' %}</span>
    {% endif %}
  </dd>

  {% if flight.targeting_parameters %}
    <dt>{% trans 'Targeting parameters' %}</dt>
    <dd>
      <ul>
        {% if flight.targeting_parameters.include_regions %}
          <li>
            <span>{% trans 'Include regions: ' %}</span>
            {% for region in flight.get_include_regions %}
              <span title="{{ region.countryregion_set.all|join:', ' }}" data-toggle="tooltip">{{ region.name }}</span><span>{% if not forloop.last %}, </span>{% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if flight.targeting_parameters.exclude_regions %}
          <li>
            <span>{% trans 'Exclude regions: ' %}</span>
            {% for region in flight.get_exclude_regions %}
              <span title="{{ region.countryregion_set.all|join:', ' }}" data-toggle="tooltip">{{ region.name }}</span><span>{% if not forloop.last %}, </span>{% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if flight.targeting_parameters.include_topics %}
          <li>
            <span>{% trans 'Topics: ' %}</span>
            {% for topic in flight.get_include_topics %}
              <span title="{{ topic.keywords.all|join:', ' }}" data-toggle="tooltip">{{ topic.name }}</span><span>{% if not forloop.last %}, </span>{% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if flight.targeting_parameters.include_countries %}
         <li>{% blocktrans with value=flight.get_include_countries_display|join:', ' %}Include countries: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.exclude_countries %}
         <li>{% blocktrans with value=flight.get_exclude_countries_display|join:', ' %}Exclude countries: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.include_state_provinces %}
         <li>{% blocktrans with value=flight.targeting_parameters.include_state_provinces|join:", " %}Include States/Provinces: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.include_metro_codes %}
         <li>{% blocktrans with value=flight.targeting_parameters.include_metro_codes|join:", " %}Include Metros/DMAs: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.include_keywords %}
         <li>{% blocktrans with value=flight.targeting_parameters.include_keywords|join:", " %}Include keywords: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.include_publishers %}
         <li>{% blocktrans with value=flight.targeting_parameters.include_publishers|join:", " %}Include publishers: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.exclude_publishers %}
         <li>{% blocktrans with value=flight.targeting_parameters.exclude_publishers|join:", " %}Exclude publishers: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.campaign.exclude_publishers.exists %}
         {# Excluded publishers from the campaign #}
         <li>{% blocktrans with value=flight.campaign.exclude_publishers.all|join:", " %}Exclude publishers: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.include_domains %}
         <li>{% blocktrans with value=flight.targeting_parameters.include_domains|join:", " %}Include domains: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.exclude_domains %}
         <li>{% blocktrans with value=flight.targeting_parameters.exclude_domains|join:", " %}Exclude domains: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.targeting_parameters.mobile_traffic %}
         <li>{% blocktrans with value=flight.targeting_parameters.mobile_traffic %}Mobile traffic: {{ value }}{% endblocktrans %}</li>
        {% endif %}
        {% if flight.campaign.publisher_group_display %}
          <li>{% blocktrans with value=flight.campaign.publisher_group_display|join:", " %}Networks: {{ value }}{% endblocktrans %}</li>
        {% endif %}
      </ul>
    </dd>
  {% endif %}
  <p class='form-text small text-muted'>
    {% url 'support' as support_url %}
    {% blocktrans with flight_name=flight.name|urlencode %}Flight targeting information can only be changed by your account manager. Please <a href="{{ support_url }}?subject=Flight+ready&body=Flight+{{ flight_name }}+needs+a+change:">contact our team</a>.{% endblocktrans %}
  </p>
</dl>

{% if flight.active_invoices %}
  <table class="table table-sm table-borderless max-w-800px">
    <thead>
      <tr>
        <th>{% trans 'Invoice' %}</th>
        <th>{% trans 'Amount' %}</th>
        <th>{% trans 'Status' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for invoice in flight.active_invoices %}
      <tr>
        <td>
          {% if invoice.hosted_invoice_url and not invoice.paid %}<a href="{{ invoice.hosted_invoice_url }}" target="_blank" rel="nofollow noopener">{% endif %}
            <span>{% if invoice.number %}#{{ invoice.number }}{% else %}{% trans 'Draft' %}{% endif %}</span>
          {% if invoice.hosted_invoice_url and not invoice.paid %}</a>{% endif %}
        </td>
        <td>${{ invoice.total }}</td>
        <td>
          <span>{{ invoice.status }}</span>
          {% if invoice.paid %}
            <span class="fa fa-check-circle-o fa-fw mr-2 text-muted" aria-hidden="true"></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if advertiser.djstripe_customer %}
  <p class='form-text small text-muted'>
    {% url 'advertiser_stripe_portal' advertiser.slug as billing_history_url %}
    {% blocktrans trimmed %}View all invoices in your <a href="{{ billing_history_url }}">billing history</a>.{% endblocktrans %}
  </p>
  {% endif %}
{% endif %}
