.min-vh-75 {
  min-height: 75vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-25 {
  min-height: 25vh !important;
}
.min-h-100px {
  min-height: 100px !important;
}
.min-h-200px {
  min-height: 200px !important;
}
.min-h-300px {
  min-height: 300px !important;
}
.min-h-400px {
  min-height: 400px !important;
}
.min-h-500px {
  min-height: 500px !important;
}
.vh-75 {
  height: 75vh !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-25 {
  height: 25vh !important;
}
.max-w-100px {
  max-width: 100px !important;
}
.max-w-200px {
  max-width: 200px !important;
}
.max-w-300px {
  max-width: 300px !important;
}
.max-w-400px {
  max-width: 400px !important;
}
.max-w-500px {
  max-width: 500px !important;
}
.max-w-600px {
  max-width: 600px !important;
}
.max-w-700px {
  max-width: 700px !important;
}
.max-w-800px {
  max-width: 800px !important;
}
