$primary: #2c82b9;  /* EthicalAds blue */
$warning: #ffc107;  /* yellow */

$adserver-logo-light: "https://media.ethicalads.io/media/branding/v1/ethicalads-logo-white.svg";
$adserver-logo-dark: "https://media.ethicalads.io/media/branding/v1/ethicalads-logo-blue.svg";
