{% extends "adserver/publisher/overview.html" %}
{% load i18n %}


{% block title %}{% trans 'Publisher Embed' %} - {{ publisher }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Client Embed Code' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}
  <section>
    <h1>{% blocktrans %}Publisher Embed for {{ publisher }}{% endblocktrans %}</h1>

    {% include "adserver/includes/publisher-paid-notice.html" with publisher=publisher only %}

    <p>
      This code will allow you to get started with showing ads on your site.
      You publisher Id is <strong>{{ publisher.slug }}</strong>,
      you can use this for all integrations.
    </p>

    <pre><code>&lt;script async src=&quot;https://media.ethicalads.io/media/client/ethicalads.min.js&quot;&gt;&lt;/script&gt;

&lt;!-- Show a text ad --&gt;
&lt;div data-ea-publisher=&quot;{{ publisher.slug }}&quot; data-ea-type=&quot;text&quot;&gt;&lt;/div&gt;

&lt;!-- Show an image ad --&gt;
&lt;div data-ea-publisher=&quot;{{ publisher.slug }}&quot; data-ea-type=&quot;image&quot;&gt;&lt;/div&gt;</code></pre>

    <p>
      You can find full documentation and more information about the client in our <a href="https://github.com/readthedocs/ethical-ad-client">GitHub repo</a>.
    </p>

    {% if adserver_publisher_policy %}
    <p>
    Please review our <a href="{{ adserver_publisher_policy }}">publisher policy</a> for full terms around ad placements.
    </p>
    {% endif %}
  </section>
{% endblock content_container %}
