{% extends "adserver/publisher/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load ad_extras %}


{% block title %}{% trans 'Fallback ad: ' %}{{ advertisement.name }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'publisher_fallback_ads' publisher.slug %}">{% trans 'Fallback ads' %}</a></li>
  <li class="breadcrumb-item active">{{ advertisement.name }}</li>
{% endblock breadcrumbs %}


{% block content_container %}

{% publisher_manager_role request.user publisher as has_publisher_edit_permission %}

<h1>{% block heading %}{% trans 'Fallback ad: ' %}{{ advertisement.name }}{% endblock heading %}</h1>

{% if not advertisement.live or not advertisement.flight.live %}
  <div class="messages">
    <div class="alert alert-warning">
      <span class="fa fa-eye-slash fa-fw" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="{% trans 'This ad is disabled' %}"></span>
      <strong>{% trans 'Disabled' %}: </strong>
      {% if advertisement.live %}
        <span>{% trans 'The ad flight is currently disabled' %}</span>
      {% else %}
        <span>{% trans 'This ad is not currently being shown' %}</span>
      {% endif %}
    </div>
  </div>
{% endif %}

<div class="row">

  {# Show the ad #}
  <div class="col">
    {% for ad_type in advertisement.ad_types.all %}
      {% include "adserver/includes/ad-preview.html" %}
    {% endfor %}
  </div>

  {# Ad metadata #}
  <div class="col">
    <dl>
      <dt>{% trans 'Display' %}</dt>
      <dd>{{ advertisement.ad_types.all | join:"<br>" }}</dd>
      <dt><abbr title="{% trans 'Click through rate' %}">{% trans 'CTR' %}</abbr></dt>
      <dd>{{ advertisement.ctr|floatformat:3 }}%</dd>{# Ad CTR actually does a full calculation #}
      {% if advertisement.link %}
        <dt>{% trans 'Click-through link' %}</dt>
        <dd><small><a href="{{ advertisement.link }}">{{ advertisement.link|truncatechars:50 }}</a></small></dd>
      {% endif %}
    </dl>
  </div>

</div>

<div class="row mt-5">
  {% if has_publisher_edit_permission %}
  <div class="col">
    <a href="{% url 'publisher_fallback_ads_update' publisher.slug advertisement.slug %}" class="btn btn-outline-primary" role="button" aria-pressed="true">{% trans 'Edit fallback ad' %}</a>
  </div>
  {% endif %}
</div>

{% endblock content_container %}
