{% extends "adserver/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load metabase %}


{% block title %}{% trans 'Publisher overview' %} - {{ publisher }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}

  {% url 'publisher_main' publisher.slug as publisher_main_url %}
  {% if request.path == publisher_main_url %}
    <li class="breadcrumb-item active">{{ publisher }}</li>
  {% else %}
    <li class="breadcrumb-item"><a href="{{ publisher_main_url }}">{{ publisher }}</a></li>
  {% endif %}
{% endblock breadcrumbs %}


{% block content_container %}
  <section>
    <h1>{% blocktrans with month=start_date|date:"F" %}{{ month }} {{ publisher }} overview{% endblocktrans %}</h1>
    <p><small>Month to date overview for {{ publisher }}.</small></p>

    {% if publisher_new %}
      {# Publisher onboarding workflow #}
      <div class="row">
        <div class="col">
          <h3>{% trans 'There are three steps to getting approved for paid ads and to start receiving payouts.' %}</h3>
          <ol class="mt-5 lead">
            <li>
              {% url "publisher_embed" publisher.slug as embed_url %}
              <p>{% blocktrans %}Set up your ads with our <a href="{{ embed_url }}">ad client embed</a>. You are already be approved for unpaid ads.{% endblocktrans %}</p>
            </li>
            <li>
              <p>{% blocktrans %}After setting up unpaid ads on your site, ensure that views are being counted in this dashboard.{% endblocktrans %}</p>
            </li>
            <li>
              {% url "support" as support_url %}
              {% url "publisher_settings" publisher.slug as publisher_settings_url %}
              <p>{% blocktrans %}<a href="{{ support_url }}?subject=Paid+ads+approval&body=I+would+like+to+be+approved+for+paid+ads+on+my+site.">Request approval</a> for paid ads. You will also need to configure your payout preferences in your <a href="{{ publisher_settings_url }}">settings</a>.{% endblocktrans %}</p>
            </li>
          </ol>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col min-vh-75">
          {% metabase_dashboard_embed metabase_publisher_dashboard publisher_slug=publisher.slug start_date=start_date end_date=end_date %}
        </div>
      </div>
      <p class="text-right my-5"><a href="{% url 'publisher_report' publisher.slug %}?start_date={{ start_date|date:'Y-m-d' }}">{% trans 'detailed reporting' %} &raquo;</a></p>
    {% endif %}

  </section>
{% endblock content_container %}
