{% extends "adserver/publisher/overview.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{# Required for the Knockout view to take effect #}
{% block body_classes %}{{ block.super }} publisher-settings{% endblock body_classes %}


{% block title %}{% trans 'Publisher Settings' %} - {{ publisher }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Settings' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}
  <section>
    <h1>{% blocktrans %}Publisher settings for {{ publisher }}{% endblocktrans %}</h1>

    {% include "adserver/includes/publisher-paid-notice.html" with publisher=publisher only %}

    <div class="row">

      <div class="col-md-8 col">
        {% crispy form form.helper %}
      </div>

    </div>
  </section>
{% endblock content_container %}
