{% extends "adserver/publisher/overview.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{# Required for the Knockout view to take effect #}
{% block body_classes %}{{ block.super }} publisher-settings{% endblock body_classes %}


{% block title %}{% trans 'Publisher Settings' %} - {{ publisher }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Settings' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}
  <section>
    <h1>{% blocktrans %}Publisher settings for {{ publisher }}{% endblocktrans %}</h1>

    <div class="row">

      <div class="col-md-8 col">

        {% if publisher.allowed_domains %}
          <fieldset class="my-3 ">
            <legend>{% trans 'Domains' %}</legend>
            <ul>
              {% for domain in publisher.allowed_domains_as_list %}
                <li>{{ domain }}</li>
              {% endfor %}
            </ul>
            <p class='form-text small text-muted'>
              {% url 'support' as support_url %}
              {% blocktrans %}These are your domains where ads may be displayed. Please <a href="{{ support_url }}?subject=New+Publisher+Domain">let us know</a> if you plan to run ads on additional domains so we may review them.{% endblocktrans %}
            </p>
          </fieldset>
        {% endif %}

        {% crispy form form.helper %}
      </div>

    </div>
  </section>
{% endblock content_container %}
