{% extends "adserver/advertiser/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Copy advertisements' %}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'flight_list' advertiser.slug %}">{% trans 'Flights' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'flight_detail' advertiser.slug flight.slug %}">{{ flight.name }}</a></li>
  <li class="breadcrumb-item active">{% trans 'Copy advertisement' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}



<section>

  <h1>{% block heading %}{% trans 'Copy advertisements' %}{% endblock heading %}</h1>
  <p>{% blocktrans with flight_name=flight.name %}Re-use your previous ads in "{{ flight_name }}".{% endblocktrans %}</p>


  <div class="row">

    <div class="col-md-8">
      {% crispy form form.helper %}
    </div>

  </div>

</section>

{% endblock content_container %}
