{% extends "adserver/advertiser/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block title %}{{ flight.name }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'flight_list' advertiser.slug %}">{% trans 'Flights' %}</a></li>
  <li class="breadcrumb-item active">{{ flight.name }}</li>
{% endblock breadcrumbs %}


{% block content_container %}

<h1>{% block heading %}{% trans 'Flight' %}: {{ flight.name }}{% endblock heading %}</h1>

{% if not flight.live %}
  <div class="messages">
    <div class="alert alert-warning">
      <span class="fa fa-eye-slash fa-fw" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="{% trans 'This flight is disabled' %}"></span>
      <strong>{% trans 'Disabled' %}: </strong>
      <span>{% trans 'This flight is not currently being shown' %}</span>
    </div>
  </div>
{% endif %}

<section>
  {% include "adserver/includes/flight-metadata.html" %}

  <p>
    <a href="{% url 'flight_report' advertiser.slug flight.slug %}?start_date={{ flight.start_date|date:'Y-m-d' }}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">
      <span class="fa fa-bar-chart mr-1" aria-hidden="true"></span>
      <span>{% trans 'See full report' %}</span>
    </a>
    {% if "adserver.change_flight" in perms %}
    <a href="{% url 'flight_update' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">
      <span class="fa fa-pencil mr-1" aria-hidden="true"></span>
      <span>{% trans 'Edit flight' %}</span>
    </a>
    {% endif %}
  </p>

</section>

<section class="mt-5">

  <div class="row">
    <h5 class="col-md-8">{% trans 'Advertisements' %}</h5>

    <aside class="col-md-4 text-right">
      <a href="{% url 'advertisement_create' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-primary mb-3" role="button" aria-pressed="true">
        <span class="fa fa-plus mr-1" aria-hidden="true"></span>
        <span>{% trans 'Create advertisement' %}</span>
      </a>
      <a href="{% url 'advertisement_copy' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-primary mb-3" role="button" aria-pressed="true">
        <span class="fa fa-clone mr-1" aria-hidden="true"></span>
        <span>{% trans 'Copy existing ad' %}</span>
      </a>
    </aside>
  </div>


  {% if advertisement_list %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><strong>{% trans 'Advertisement' %}</strong></th>
            <th><strong>{% trans 'Name' %}</strong></th>
            <th><strong>{% trans 'Ad types' %}</strong></th>
            <th><strong>{% blocktrans %}<abbr title="Click through rate">CTR</abbr>{% endblocktrans %}</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for ad in advertisement_list %}
            <tr>
              <td>
                {% if ad.image %}
                  <a href="{% url 'advertisement_detail' advertiser.slug flight.slug ad.slug %}">
                    <img src="{{ ad.image.url }}" width="120">
                  </a>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'advertisement_detail' advertiser.slug flight.slug ad.slug %}">{{ ad.name }}</a>
                {% if not ad.live %}
                  <span class="fa fa-eye-slash fa-fw text-muted" aria-hidden="true" data-toggle="tooltip" title="{% trans 'This ad is disabled' %}"></span>
                {% endif %}
              </td>
              <td>{{ ad.ad_types.all | join:"<br>" }}</td>
              <td>{{ ad.ctr|floatformat:3 }}%</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    {% url 'advertisement_create' advertiser.slug flight.slug as create_ad_url %}
    <p class="text-center">{% blocktrans %}There are no ads in this flight yet but you can <a href="{{ create_ad_url }}">create one</a>.{% endblocktrans %}</p>
  {% endif %}
</section>


{% endblock content_container %}
