{% extends "adserver/advertiser/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block title %}{{ flight.name }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'flight_list' advertiser.slug %}">{% trans 'Flights' %}</a></li>
  <li class="breadcrumb-item active">{{ flight.name }}</li>
{% endblock breadcrumbs %}


{% block content_container %}

<h1>{% block heading %}{% trans 'Flight' %}: {{ flight.name }}{% endblock heading %}</h1>


{% include "adserver/includes/flight-disabled.html" %}


<section>
  {% include "adserver/includes/flight-metadata.html" %}

  <p>
    <a href="{% url 'flight_report' advertiser.slug flight.slug %}?start_date={{ flight.start_date|date:'Y-m-d' }}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">
      <span class="fa fa-bar-chart mr-1" aria-hidden="true"></span>
      <span>{% trans 'See full report' %}</span>
    </a>
    <a title="{% if flight.auto_renew %}{% trans 'Your flight will renew when complete.' %}{% else %}{% trans 'Flights that automatically renew receive an additional 10% discount' %}{% endif %}" data-toggle="tooltip" data-placement="left" href="{% url 'flight_auto_renew' advertiser.slug flight.slug %}" class="btn btn-sm  btn-outline-info" role="button" aria-pressed="true">
      <span class="fa fa-refresh mr-1" aria-hidden="true"></span>
      <span>{% if flight.auto_renew %}{% trans 'Renewing' %}{% else %}{% trans 'Automatically renew' %}{% endif %}</span>
    </a>
    {% if "adserver.change_flight" in perms %}
    <a href="{% url 'flight_update' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-info" role="button" aria-pressed="true">
      <span class="fa fa-lock mr-1" aria-hidden="true"></span>
      <span>{% trans 'Edit flight' %}</span>
    </a>
    <a href="{% url 'flight_renew' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-info" role="button" aria-pressed="true">
      <span class="fa fa-lock mr-1" aria-hidden="true"></span>
      <span>{% trans 'Renew flight' %}</span>
    </a>
    {% endif %}
  </p>

</section>

<section class="mt-5">

  <div class="row">
    <h5 class="col-md-8">{% trans 'Live ads' %}</h5>

    <aside class="col-md-4 text-right">
      <a href="{% url 'advertisement_create' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-primary mb-3" role="button" aria-pressed="true">
        <span class="fa fa-plus mr-1" aria-hidden="true"></span>
        <span>{% trans 'Create advertisement' %}</span>
      </a>
      <a href="{% url 'advertisement_copy' advertiser.slug flight.slug %}" class="btn btn-sm btn-outline-primary mb-3" role="button" aria-pressed="true">
        <span class="fa fa-clone mr-1" aria-hidden="true"></span>
        <span>{% trans 'Copy existing ads' %}</span>
      </a>
    </aside>
  </div>

  {% if live_ads %}
    <div class="table-responsive" id="advertisement-list">
      {% with live_ads as advertisements %}
        {% include 'adserver/includes/ad-list.html' %}
      {% endwith %}
    </div>
  {% else %}
    {% url 'advertisement_create' advertiser.slug flight.slug as create_ad_url %}
    <p class="text-center">{% blocktrans %}There are no live ads in this flight yet but you can <a href="{{ create_ad_url }}">create one</a>.{% endblocktrans %}</p>
  {% endif %}


  {% if disabled_ads %}
    <div class="my-5">
      <h5 class="">{% trans 'Disabled ads' %}</h5>

      <div class="table-responsive">
        {% with disabled_ads as advertisements %}
          {% include 'adserver/includes/ad-list.html' %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
</section>


{% endblock content_container %}
