{% extends "adserver/advertiser/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Flight' %}: {{ flight.name }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'flight_list' advertiser.slug %}">{% trans 'Flights' %}</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'flight_detail' advertiser.slug flight.slug %}">{{ flight.name }}</a></li>
{% endblock breadcrumbs %}


{% block content_container %}

<h1>{% block heading %}{% trans 'Flight' %}: {{ flight.name }}{% endblock heading %}</h1>

{% if not flight.live %}
  <div class="messages">
    <div class="alert alert-warning">
      <span class="fa fa-eye-slash fa-fw" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="{% trans 'This flight is disabled' %}"></span>
      <strong>{% trans 'Disabled' %}: </strong>
      <span>{% trans 'This flight is not currently being shown' %}</span>
    </div>
  </div>
{% endif %}

<section>
  <div class="row">

    <div class="col-md">
      {% crispy form form.helper %}
    </div>

    <div class="col-md ml-md-5">
      {% include "adserver/includes/flight-metadata.html" %}
    </div>

  </div>
</section>


{% endblock content_container %}
