{% extends "adserver/advertiser/overview.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load ad_extras %}


{% block title %}{% trans 'Manage Advertising' %}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Flights' %}</li>
{% endblock breadcrumbs %}


{% block content_container %}

{% advertiser_manager_role request.user advertiser as has_advertiser_edit_permission %}

<h1>{% block heading %}{% trans "Manage advertising flights" %}{% endblock heading %}</h1>


<aside class="col text-right">
  {% if "adserver.add_flight" in perms %}
    <a href="{% url 'flight_create' advertiser.slug %}" class="btn btn-sm btn-outline-info mb-3" role="button" aria-pressed="true">
      <span class="fa fa-lock mr-1" aria-hidden="true"></span>
      <span>{% trans 'Create flight' %}</span>
    </a>
  {% endif %}
  {% if has_advertiser_edit_permission %}
  <a href="{% url 'flight_request' advertiser.slug %}" class="btn btn-sm btn-outline-info mb-3" role="button" aria-pressed="true">
    <span class="fa fa-plus mr-1" aria-hidden="true"></span>
    <span>{% trans 'Request a new flight' %}</span>
  </a>
  {% endif %}
</aside>


{% if flights %}
  {% regroup flights by state as flight_groups %}
  {% for state, flight_list in flight_groups %}
    {% if flight_list %}
      <div class="table-responsive" id="{{ state|slugify }}-flights">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="33%"><strong>{% blocktrans %}{{ state }} flights{% endblocktrans %}</strong></th>
              <th><strong>{% trans 'Start date' %}</strong></th>
              <th><strong>{% trans 'End date' %}</strong></th>
              <th class="text-right"><strong>{% trans 'Budget' %}</strong></th>
              <th class="text-right"><strong>{% blocktrans %}<abbr title="Click through rate">CTR</abbr>{% endblocktrans %}</strong></th>
              <th class="text-right"><strong>{% blocktrans %}<abbr title="Effective cost per click">eCPC</abbr>{% endblocktrans %}</strong></th>
              <th class="text-right"><strong>{% trans 'Options' %}</strong></th>
            </tr>
          </thead>
          <tbody>
            {% for flight in flight_list %}
              <tr>
                <td>
                  <a href="{% url 'flight_detail' advertiser.slug flight.slug %}">{{ flight.name }}</a>
                  {% if not flight.live %}
                    <span class="fa fa-eye-slash fa-fw text-muted" aria-hidden="true" data-toggle="tooltip" title="{% trans 'This flight is disabled' %}"></span>
                  {% elif flight.auto_renew %}
                    <span class="fa fa-refresh fa-fw text-muted" aria-hidden="true" data-toggle="tooltip" title="{% trans 'Flight will automatically renew when complete' %}" data-original-title="{% trans 'Flight will automatically renew when complete' %}"></span>
                  {% endif %}
                </td>
                <td>{{ flight.start_date }}</td>
                <td>{{ flight.end_date }}</td>
                <td class="text-right">${{ flight.projected_total_value|floatformat:2 }}</td>
                <td class="text-right">{{ flight.ctr|floatformat:3 }}%</td>
                <td class="text-right">${{ flight.ecpc|floatformat:2 }}</td>
                <td class="text-right">
                  <ul class="list-inline">

                    {% if "adserver.change_flight" in perms %}
                      <li class="list-inline-item">
                        <a href="{% url 'flight_update' advertiser.slug flight.slug %}?start_date={{ flight.start_date|date:'Y-m-d' }}" title="{% trans 'Edit flight' %}">
                          <span class="fa fa-pencil-square-o fa-fw mr-2 text-muted" aria-hidden="true"></span>
                        </a>
                      </li>
                    {% endif %}

                    <li class="list-inline-item">
                      <a href="{% url 'flight_report' advertiser.slug flight.slug %}?start_date={{ flight.start_date|date:'Y-m-d' }}" title="{% trans 'View report' %}">
                        <span class="fa fa-bar-chart fa-fw mr-2 text-muted" aria-hidden="true"></span>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>{% trans 'You have no flights' %}</p>
{% endif %}

{% endblock content_container %}
