{% extends "adserver/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load metabase %}


{% block title %}{% trans 'Advertiser Overview' %} - {{ advertiser }}{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}

  {% url 'advertiser_main' advertiser.slug as advertiser_main_url %}

  {% if request.path == advertiser_main_url %}
    <li class="breadcrumb-item active">{{ advertiser }}</li>
  {% else %}
    <li class="breadcrumb-item"><a href="{{ advertiser_main_url }}">{{ advertiser }}</a></li>
  {% endif %}
{% endblock breadcrumbs %}


{% block content_container %}
  <section>
    <h1>{% blocktrans with month=start_date|date:"F" %}{{ month }} {{ advertiser }} overview{% endblocktrans %}</h1>
    <p><small>Month to date overview for {{ advertiser }}.</small></p>

    {% if advertiser_new %}
      {# Advertiser onboarding workflow #}
      <div class="row mb-5">
        <div class="col">
          <h3>{% trans 'There are a few steps to getting started with your first ad campaign with us.' %}</h3>
          <ol class="mt-5 lead fa-ul">
            {% url "flight_list" advertiser.slug as flight_list_url %}
            <li>
              <span class="fa-li fa fa-check"></span>
              <p>{% blocktrans %}View the upcoming <a href="{{ flight_list_url }}">flights</a> set up for you and make sure the content and geographic targeting matches your customer focus. The price of your campaign depends on your chosen targeting.{% endblocktrans %}</p>
            </li>
            <li>
              {% if are_ads_set_up %}
                <span class="fa-li fa fa-check"></span>
              {% else %}
                <span class="fa-li fa fa-square-o"></span>
              {% endif %}
              <p>{% blocktrans %}Upload your ad creatives to your <a href="{{ flight_list_url }}">flights</a>.{% endblocktrans %}</p>
            </li>
            <li>
              {% if has_paid_invoice %}
                <span class="fa-li fa fa-check"></span>
              {% else %}
                <span class="fa-li fa fa-square-o"></span>
              {% endif %}
              {% url "advertiser_stripe_portal" advertiser.slug as billing_portal_url %}
              <p>{% blocktrans %}Pay your <a href="{{ billing_portal_url }}">first invoice</a> and we will start sending traffic to you.{% endblocktrans %}</p>
            </li>
          </ol>
        </div>
      </div>
    {% elif not has_views_this_month %}
      {# Returning advertiser, but nothing to show this month #}
      <div class="row mb-5">
        <div class="col">
          <h3>{% trans 'Welcome back.' %}</h3>
          <ul class="mt-5 lead">
            <li>
              {% url "advertiser_report" advertiser.slug as report_url %}
              {% url "flight_list" advertiser.slug as flight_list_url %}
              <p>{% blocktrans %}You can always look at <a href="{{ flight_list_url }}">past flights</a> or check your past <a href="{{ advertiser_report }}">ad performance</a> for any timeframe.{% endblocktrans %}</p>
            </li>
            <li>
              {% url "support" as support_url %}
              <p>{% blocktrans %}If you're interested in running a new ad flight, please <a href="{{ support_url }}?subject=New+campaign&body=I+am+interested+in+running+a+new+campaign.">get in touch</a>.{% endblocktrans %}</p>
            </li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="row mb-5">
        <div class="col min-vh-75">
          {% metabase_dashboard_embed metabase_advertiser_dashboard advertiser_slug=advertiser.slug start_date=start_date end_date=end_date %}
          <p class="text-right mb-5"><a href="{% url 'advertiser_report' advertiser.slug %}?start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}">{% trans 'detailed reporting' %} &raquo;</a></p>
        </div>
      </div>
    {% endif %}


    <!-- Flights -->
    <div class="row row-cols-1">
      <div class="col">
        <div class="card">
          <div class="card-body">
            {% if flights %}
              {% regroup flights by state as flight_groups %}
              {% for state, flight_list in flight_groups %}
                {% if flight_list %}
                  <h5 class="card-title">{% blocktrans %}{{ state }} flights{% endblocktrans %}</h5>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><strong>{% trans 'Flight' %}</strong></th>
                          <th><strong>{% trans 'End date' %}</strong></th>
                          <th>
                            <strong>{% blocktrans %}<abbr title="Click through rate">CTR</abbr>{% endblocktrans %}</strong>
                            <span class="fa fa-info-circle fa-fw" aria-hidden="true" data-toggle="tooltip" title="{% trans 'This CTR is all-time, not month to date' %}" data-original-title="{% trans 'This CTR is all-time, not month to date' %}"></span>
                          </th>
                          <th><strong>{% trans 'Progress' %}</strong></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for flight in flight_list %}
                          <tr>
                            <td>
                              <a href="{% url 'flight_detail' advertiser.slug flight.slug %}">{{ flight.name }}</a>
                            </td>
                            <td>{{ flight.end_date }}</td>
                            <td>{{ flight.ctr|floatformat:3 }}%</td>
                            <td>
                              <div class="progress" style="height: 1.5rem">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ flight.percent_complete|floatformat:0 }}%;" aria-valuenow="{{ flight.percent_complete|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100">
                                {{ flight.percent_complete|floatformat:0 }}% complete
                                </div>
                              </div>
                              {% if flight.cpc or flight.cpm %}
                                <p class="text-center text-muted small">${{ flight.value_remaining|floatformat:2 }} / ${{ flight.projected_total_value|floatformat:2 }} remaining</p>
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>{% trans 'You have no active or upcoming flights. See All Flights for past ones.' %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <p class="text-right mb-5"><a href="{% url 'flight_list' advertiser.slug %}">{% trans 'All flights' %} &raquo;</a></p>

  </section>
{% endblock content_container %}
