{% load i18n %}

{# Email intentionally uses an old doctype for maximum compatibility #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  {# This title is never displayed but there's a block in case you want to customize it #}
<title>{% block title %}{% blocktrans with site_name=site.name %}Email from {{ site_name }}{% endblocktrans %}{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  {# Remember that not all CSS styles are supported in email (test, test, test) #}
  {% block css %}<!-- CSS styles -->{% endblock css %}
</style>
</head>
<body>
  {% block body %}{% endblock body %}
</body>
</html>
