{% extends 'adserver/email/base.html' %}
{% load i18n %}


{% block body %}
<p>{% blocktrans with advertiser_name=advertiser.name %}{{ advertiser_name }} team,{% endblocktrans %}</p>

<p>{% blocktrans with site_name=site.name %}Thanks again for advertising with {{ site_name }}!{% endblocktrans %}</p>

{% spaceless %}

<p>{% blocktrans with total_flights=completed_flights|length pluralized_flights=completed_flights|pluralize %}
  You have {{ total_flights }} flight{{ pluralized_flights }} that finished:
{% endblocktrans %}</p>
<ul>
  {% for flight in completed_flights %}
  <li>
    <a href="{{ site.domain }}{{ flight.get_absolute_url }}?ref=email-wrapup">{{ flight.name }}</a>
    <span> (<abbr title="{% trans 'Click-through rate' %}">{% trans 'CTR' %}</abbr>: {{ flight.ctr|floatformat:3 }}%)</span>
  </li>
  {% endfor %}
</ul>

{% endspaceless %}
{% url "flight_request" as flight_request_url %}
<p>{% blocktrans with site_domain=site.domain %}
  If you'd like to renew your flight, you can <a href="{{ site_domain }}{{ flight_request_url }}">request a new one</a>
  with your desired budget and targeting details.
  We can run another campaign with the same creatives,
  or adjust things based on your feedback around what's converting best.
  If you have any questions, please reply to this email.
{% endblocktrans %}</p>

{% url "flight_list" advertiser.slug as advertiser_url %}
{% with site_domain=site.domain current_flight_count=current_flights|length upcoming_flight_count=upcoming_flights|length pluralized_flights=current_flight_count|pluralize %}
{% if current_flights and upcoming_flights %}
<p>{% blocktrans %}You have <a href="{{ site_domain }}{{ advertiser_url }}?ref=email-wrapup">{{ current_flight_count }} flight{{ pluralized_flights }}</a> currently running and {{ upcoming_flight_count }} starting soon.{% endblocktrans %}</p>
{% elif current_flights %}
<p>{% blocktrans %}You have <a href="{{ site_domain }}{{ advertiser_url }}?ref=email-wrapup">{{ current_flight_count }} flight{{ pluralized_flights }}</a> currently running.{% endblocktrans %}</p>
{% elif upcoming_flights %}
<p>{% blocktrans %}You have <a href="{{ site_domain }}{{ advertiser_url }}?ref=email-wrapup">{{ upcoming_flight_count }} flight{{ pluralized_flights }}</a> starting soon.{% endblocktrans %}</p>
{% endif %}
{% endwith %}

{% url "account" as notification_settings_url %}
<p>
  <small>{% blocktrans with site_name=site.name %}You are receiving this email because you run advertising with {{ site_name }}.{% endblocktrans %} </small>
  <small>{% blocktrans with site_domain=site.domain %}Adjust your <a href="{{ site_domain }}{{ notification_settings_url }}?ref=email-wrapup">notification settings</a>{% endblocktrans %} in our dashboard.</small>
</p>

{% endblock body %}
