{% autoescape off %}

{% comment %}
TODO: Find a way to make this non-EA specific,
but for now I think we can't avoid it because of linking to content on our marketing pages.
{% endcomment %}

<p>
  Hello,
</p>

<p>
  We are now processing payments for <strong>{{ today|date:"F" }} {{ today|date:"Y" }}</strong>,
  and you made a total of <strong>${{ due_report.total.revenue_share|floatformat:2 }}</strong> for ads displayed between {{ start_date|date:"F j" }}-{{ end_date|date:"F j" }}.
  You can find the full report for this billing cycle on our <a href="{{ due_report_url }}">revenue report</a>.
</p>

{% if due_report.total.ctr < .07 %} {# Only warn is a good deal below .1 #}
<p>
  We generally expect all our publishers to maintain a CTR (click though rate) around or above 0.1%.
  Your CTR is currently <strong>{{ due_report.total.ctr|floatformat:3 }}%</strong>,
  which is below our current minimum.
  We have a few suggestions in our <a href="https://www.ethicalads.io/publisher-guide/">Publisher Guide</a> around improving placements,
  but the main thing is just having the ad be on the screen in a visible place for long enough for users to see and click on it.
</p>
{% endif %}


{% if first %}
<p>
  <strong>Information required!</strong>
  We need a few pieces of information from you in order to process a payment:
</p>

<p>
  <ul>
    <li>The name of the person or organization that will be receiving the payment</li>
    <li>The address, including country, for the person or organization</li>
    <li>Fill out the payment information in the <a href="{{ settings_url }}">publisher settings</a></li>
  </ul>
</p>

<p>
  Please reply to this email with the name & address of the person or organization receiving this payment.
  Once we have this information, we will process the payment.
  These will show up in the <a href="{{ payouts_url }}">payouts dashboard</a>,
  once they have been processed.
</p>
{% else %}
<p>
  Since we have already processed a payout for you,
  we should have all the information needed start the payout.
  You can always update your payout settings in the <a href="{{ settings_url }}">publisher settings</a>.
  Payouts will show up in the <a href="{{ payouts_url }}">payouts dashboard</a> for your records once processed.
</p>
{% endif %}

<p>
  <strong>Stay up to date:</strong>
  If you want to keep up to date with the latest features and updates from EthicalAds,
  we recommend reading our <a href="https://www.ethicalads.io/blog/">blog</a> or <a href="https://twitter.com/ethicaladsio">Twitter</a>.
  If you prefer getting updates in your inbox,
  you can subscribe to our <a href="https://ethicalads.us17.list-manage.com/subscribe/post?u=ca5e74de3ea2867d373058271&id=5746f18bb8">mailing list</a> as well.
</p>

<p>
  Thanks again for being part of the EthicalAds network.
  If you are enjoying EthicalAds,
  we'd love to ask you to recommend us to a friend.
  If there's a feature or change that would improve EthicalAds
  or would have made your onboarding or payout process better,
  please respond to this email and let us know!
</p>

<p>
  Cheers,<br>
  EthicalAds Team
</p>
{% endautoescape %}
