# General
# ------------------------------------------------------------------------------
USE_DOCKER=true
IPYTHONDIR=/app/.ipython
MEDIA_URL=http://localhost:5000/media/
#ADSERVER_ETHICALADS_BRANDING=True

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Postgres
# ------------------------------------------------------------------------------
DATABASE_URL=psql://localuser:localpass@postgres:5432/ethicaladserver

# Stripe
# ------------------------------------------------------------------------------
#STRIPE_SECRET_KEY=
#STRIPE_CONNECT_CLIENT_ID=

# Slack
# ------------------------------------------------------------------------------
# Must set DEBUG=False or set the backend to test slack integrations
#SLACK_TOKEN=


# Metabase
# ------------------------------------------------------------------------------
# This is the address in docker. Use http://localhost:3000 outside docker.
METABASE_SITE_URL=http://metabase:3000
# Ensure this is set in http://localhost:3000/admin/settings/embedding_in_other_applications
METABASE_SECRET_KEY=0000000000000000000000000000000000000000000000000000000000000000


# Celery
# ------------------------------------------------------------------------------
# This is a workaround for some celery issues that are likely fixed in future versions.
# https://github.com/celery/celery/issues/5761
COLUMNS=80
