{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <title>{% block title %}{% endblock title %} &middot; {% trans 'Ethical Ad Server' %}</title>
  </head>
  <body class="{% block body_classes %}{% endblock body_classes %}">

    {% block body_content %}{% endblock body_content %}

    <script src="{% static 'bundle.js' %}" ></script>
  </body>
</html>
