{% extends "account/base_reauthenticate.html" %}

{# https://github.com/pennersr/django-allauth/blob/main/allauth/templates/mfa/reauthenticate.html #}


{% load i18n %}
{% load allauth %}
{% load crispy from crispy_forms_tags %}


{% block reauthenticate_content %}

<h1>{% trans 'Confirm Access' %}</h1>

  <p>
    {% blocktrans trimmed %}
      Enter a two-factor authentication code to confirm access.
    {% endblocktrans %}
  </p>

  {% url 'mfa_reauthenticate' as action_url %}
  <form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    {{ redirect_field }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Confirm' %}">
  </form>

{% endblock %}
