{% extends "mfa/base_manage.html" %}

{# https://github.com/pennersr/django-allauth/blob/main/allauth/templates/mfa/totp/base.html #}

{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'dashboard-home' %}">{% trans 'Home' %}</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'account' %}">{% trans 'Account' %}</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'mfa_index' %}">{% trans 'MFA' %}</a>
</li>
<li class="breadcrumb-item active">{% trans 'Authenticator App' %}</li>
{% endblock breadcrumbs %}


{% block title %}{% trans "Authenticator App" %}{% endblock title %}
