name: Continuous Integration Checks

# All branches
on: push

jobs:
  build:

    name: Unit tests and code style checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync --frozen --all-extras

      - name: Run CI
        run: |
          uv run tox
